
<form (ngSubmit)="onOk(tipForm.form.valid)" #tipForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">{{options.title}}</h4>
    </div>

    <div class="modal-body">
        <div class="text-center">   
            <app-file-upload [customFileUrl]= "tip.imageUrl" (imageEmitter)="getImg($event)"></app-file-upload>
        </div>

        <div class="form-group">  
            <label>Título del tip</label>                
            <input class="form-control" name = "title" required [(ngModel)]="tip.title" placeholder="Titulo">
        </div>
        <div class="form-group">  
            <label>Descripción del tip</label>
            <textarea class="form-control" name = "description" placeholder="Ingresar Texto" required [(ngModel)]="tip.description"></textarea>
        </div> 
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-aceptar-modal">Aceptar</button>
            <button type="button" class="btn btn-transparent" (click)="onCancel()">Cancelar</button>
        </div>
</form>